$size: 10px;
$color: rgb(220, 220, 220);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
}
.startupStep{
  border: 1px solid $color;
  width: $size * 40;
  margin: $size*3 auto;
  padding:  $size*3;
}
.startupStep > div{
  border-bottom: 1px solid $color;
  padding:  $size*2;
}
.startupStep h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:  $size*2;
}
.startupStep h2 > span{
  width:  $size*4;
  height:  $size*4;
  background: rgb(53, 53, 53);
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right:  $size*2;
  color: white;
}
.startupStep h2 > img{
  width:  $size*3;
  margin-left:  $size*2;
}
label{
  display: flex;
}
input{
  margin-right: 10px;
  width:  $size*2;
  height:  $size*2;
}